@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Roundor';
	src: url('/fonts/RoundorNonCommercial.otf');
}

@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/Comfortaa-VariableFont_wght.ttf');
}

@font-face {
	font-family: 'CutiveMono';
	src: url('/fonts/CutiveMono-Regular.ttf');
}

@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	src: url('/fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
	font-family: 'Geo';
	src: url('/fonts/Geo-Regular.ttf');
}

@font-face {
	font-family: 'Poiret One';
	src: url('/fonts/PoiretOne-Regular.ttf');
}

body {
	@apply bg-zinc-900 font-sans text-purple-300;
}